<h1>Login Form</h1>
<form action="/createSession" method="post">
    <label for="">Email</label>
    <input type="email" name="email" id="">
    <br><br>
    <label for="">Password</label>
    <input type="password" name="password" id="">
    <br><br>
    <button type="submit" name="operation" value="signin">Log me in</button>
</form>